<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <title>Meus Livros</title>
</head>
<body>
  <header>
    <div class="wrapper">  
        <table class="cabecalho"><tr>
            <th id="cabecalhoelementos">
            <a href="/"><img src="img/Design sem nome (7).svg"></a>
            <input type="text" style="width: 50%; height: 35px; margin-left: 5px;" id="pesquisa" placeholder="Pesquisar">
                <select id="inputCategoria" class="form-control" style="width: 200px; height:37px; margin-left: 5px;">
                  <option selected>Categoria...</option>
                  <option>Ação</option>
                  <option>Romance</option>
                  <option>Literatura</option>
                  <option>Lógica de Programação</option>
                  <option>Direito</option>
                  <option>Suspense</option>
                  <option>Ficção Científica</option>
                </select>
            <a class="anunciar-livro4" href="/AnunciarLivro">Anunciar Livro</a>
            	<a class="meus-livros4" href="/MeusLivros">Meus Livros</a>
            	<form th:action="@{/deslogar}" method="post">
    				<button type="submit" id="deslogar">Sair</button>
				</form>
		</th>
        </tr>
        </table>
    </header>
	  <h1 id="tituloMeusLivros" class="titulo">Meus Livros</h1>
	  <div id="exibirLivros">
	     <div th:each="livro : ${livros}">
	      <img th:src="${livro.capa}" class="capa-livro"></img>
	     </div>
	   </div>
  
</body>
</html>
